    <div class="drop-holder">
        <div style="width: 100%">
            <ul>
                <li>
                    <div class="product_type">Messaging</div>
                    <div class="product_content">
                        <a class="product_holder" href="/sms/">
                            <div class="product_holder__icon"><img src="https://www.plivo.com/assets/dist/images/v2/header/drop-ic-sms.svg" alt="SMS API Platform" title="SMS API Platform"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">SMS API Platform</div>
                                <div class="product_holder__desc-text">Programmatically send and receive text messages.</div>
                            </div>
                        </a>
                        <a class="product_holder" href="/mms/">
                            <div class="product_holder__icon"><img src="https://www.plivo.com/assets/dist/images/v2/header/ic-mms.svg" alt="MMS" title="MMS"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">MMS API</div>
                                <div class="product_holder__desc-text mms-text">Engage with your customers via pictures, audio & video messages.</div>
                            </div>
                        </a>
                        <a class="product_holder hide-in-mobile" href="/sms/shortcode/">
                            <div class="product_holder__icon"><img src="https://www.plivo.com/assets/dist/images/v2/header/ic-choice-of-vanity-short-codes.svg" alt="Short Codes" title="Short Codes"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">Shortcode</div>
                                <div class="product_holder__desc-text">Send and receive high volume of SMS</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product_type">Voice</div>
                    <div class="product_content">
                        <a class="product_holder" href="/voice/">
                            <div class="product_holder__icon"><img src="https://www.plivo.com/assets/dist/images/v2/header/drop-ic-voice.svg" alt="Voice API Platform" title="Voice API Platform"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">Voice API Platform</div>
                                <div class="product_holder__desc-text">Integrate voice calling within your applications.</div>
                            </div>
                        </a>
                        <a class="product_holder" href="/sip-trunking/">
                            <div class="product_holder__icon"><img src="https://www.plivo.com/assets/dist/images/v2/header/drop-ic-zentrunk.svg" alt="ZENTRUNK" title="Zentrunk"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">Zentrunk</div>
                                <div class="product_holder__desc-text">Cloud SIP Trunking for your VoIP infrastructure.</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="product_type">Other Services</div>
                    <div class="product_content">
                        <a class="product_holder" href="/virtual-phone-numbers/">
                            <div class="product_holder__icon small"><img src="https://www.plivo.com/assets/dist/images/v2/header/drop-ic-phone-numbers.svg" alt="Phone Numbers" title="Phone Numbers"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">Phone Numbers</div>
                                <div class="product_holder__desc-text">Local, mobile, and toll-free numbers worldwide.</div>
                            </div>
                        </a>
                        <a class="product_holder" href="/phlo/">
                            <div class="product_holder__icon small"><img src="https://www.plivo.com/assets/dist/images/v2/icon/ic-phlo-colored.svg" alt="PHLO" title="PHLO"></div>
                            <div class="product_holder__desc">
                                <div class="product_holder__title">PHLO</div>
                                <div class="product_holder__desc-text">Manage your communication workflows visually.</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        if(window.matchMedia('(max-width: 960px)').matches){
            document.querySelector('.mms-text').textContent = 'Engage customers via picures, audio & video'
        }
    </script>