---
layout: default
body_class: home-page
gradient: gradient
permalink: /page-blocks/
page_blocks:
  - _id: hero-unit
    image: 'https://placehold.it/542x435'
    heading_text: This is a Hero
    sub_heading_text: Description can be added
    buttons:
      - text: Contact Sales
        link: /
        primary: 'true'
  - _id: why-plivo
    title: Why companies should choose Plivo?
---

{% for block in page.page_blocks %}
{%assign filename = "page-blocks/" | append: block._id | append: ".html"  %}
      {% include {{filename}} block=block %}
{% endfor %}
