<section class="intro-visual editable">
          <div class="container">
              <div class="intro-box">
                  <div class="text-block"><a class="arrow-link" href="/support-plans/"><span class="badge badge-success">New</span> Introducing Premium Support Plans<span class="icon-arrow-large-right" style="font-size: 7px; padding-left: 4px;"></span></a>
                      <h1>This is a Hero</h1>
                      <h2 class="sub-text">Description can be added and tested</h2>
                      <div class="buttons-container"><a class="btn btn-primary blue" href="https://console.plivo.com/accounts/register/">GET STARTED NOW</a> <a class="btn btn-outline-primary blue less-shadow" href="/talk-to-an-expert/">TALK TO AN EXPERT</a></div>
                  </div>
                  <div class="picture-block"><img src="https://placehold.it/500" /></div>
              </div>
          </div>
      </section>