<section class="differences-section why-plivo {{page.gradient}}">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="heading-2">{{include.block.title}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="difference-box">
                    <div class="difference-icon"><img src="https://www.plivo.com/assets/dist/images/v2/difference/ic-proven-quality.svg" alt="FASTER GO TO MARKET" title="Faster Go to Market"
                         width="undefined" height="undefined" /></div>
                    <div class="difference-details">
                        <h3>Proven Quality and Scale</h3>
                        <p>
                                With over a billion API requests every month, our globally distributed direct to carrier network and intelligent routing ensures highest SMS delivery and lowest latency for your calls.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="difference-box">
                        <div class="difference-icon"><img src="https://www.plivo.com/assets/dist/images/v2/difference/ic-enterprise.svg" alt="ENTERPRISE GRADE PLATFORM" title="Enterprise Grade Platform"
                             width="undefined" height="undefined" /></div>
                        <div class="difference-details">
                            <h3>Enterprise Grade Platform</h3>
                            <p>
                                    Engineered for high availability, extreme reliability and 99.95% uptime SLA. Privacy Shield and GDPR Compliance means any business can trust Plivo with data privacy and security.
                            </p>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="difference-box">
                    <div class="difference-icon"><img src="https://www.plivo.com/assets/dist/images/v2/difference/ic-premium-support.svg" alt="GLOBAL SCALE" title="Global Scale"
                         width="undefined" height="undefined" /></div>
                    <div class="difference-details">
                        <h3>A Team That Truly Cares about Your Success</h3>
                        <p>
                                Our 24x7 premium support and a consultative customer success team, provide you with all the technical guidance and industry expertise you need, when you need it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="difference-box">
                    <div class="difference-icon"><img src="https://www.plivo.com/assets/dist/images/v2/difference/ic-lower-cost.svg" alt="LOWER COST OF OWNERSHIP" title="Lower Cost of Ownership"
                         width="undefined" height="undefined" /></div>
                    <div class="difference-details">
                        <h3>Lower Cost of Ownership</h3>
                        <p>
                                Receive discounted pricing from the start with simple usage based pricing where you only pay for what you use. Avail additional discounts with committed usage as you scale.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
