<footer id="footer">
    <div class="container">
      <div class="footer-nav {{ page.footer }}">
        <div class="cols">
          <strong class="title text-uppercase">PRODUCTS</strong>
          <ul class="menu-widget text-capitalize">
          <li><a href="/sms/">SMS API Platform</a></li>
          <li><a href="/mms/">MMS API</a></li>
          <li><a href="/voice/">Voice API Platform</a></li>
          <li><a href="/sip-trunking/">Zentrunk</a>
          </li>
          <li><a href="/virtual-phone-numbers/">Phone Numbers</a>
          <li><a href="/phlo/">PHLO</a>
          </li>
          <li><a href="/pricing/">Pricing</a></li>
          <!-- <li>
            <a href="#">Zentrunk<span class="badge badge-success">beta</span></a>
          </li>
          <li><a href="/virtual-phone-numbers/">Phone Numbers</a></li> -->
          </ul>
        </div>
        <div class="cols">
          <strong class="title text-uppercase">DEVELOPERS</strong>
          <ul class="menu-widget text-capitalize">
            <li><a href="https://support.plivo.com/hc/en-us/">Knowledge Base</a></li>
            <li><a href="https://status.plivo.com/">Service Status</a></li>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="/docs/sdk/">Server-Side SDKs</a></li>
            <li><a href="/docs/sdk/client/web/overview/">Client-Side SDKs</a></li>
            <li><a href="/docs/reference/">Full API Reference</a></li>
          </ul>
        </div>
        <div class="cols">
            <strong class="title text-uppercase">Resources</strong>
            <ul class="menu-widget text-capitalize">
                <li><a href="/resources/">Content Library</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/support-plans/">Support Plans</a></li>
                <li><a href="/twilio-alternative/">Twilio Alternative</a></li>
            </ul>
          </div>
        <div class="cols">
          <strong class="title text-uppercase">COMPANY</strong>
          <ul class="menu-widget text-capitalize">
            <li><a href="/about/">About</a></li>
            <li><a href="/customers/">Customers</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/branding/">Brand Guidelines</a></li>
            <li><a href="/contact/sales/">Contact Sales</a></li>
            <li><a href="https://support.plivo.com/hc/en-us/requests/new">Contact Support</a></li>
            <li><a href="/legal/tos/">Legal</a></li>
          </ul>
        </div>
        <!-- <div class="cols">
          <strong class="title text-uppercase">LEGAL</strong>
          <ul class="menu-widget text-capitalize">
              <li><a href="/privacy/">Privacy Policy</a></li>
              <li><a href="/terms/">Terms of Service</a></li>
              <li><a href="/aup/">Acceptable Use Policy</a></li>
              <li><a href="/subprocessors/">Subprocessors</a></li>
              <li><a href="/reporting-vulnerability/">Reporting Vulnerabilities</a></li>
          </ul>
        </div> -->
      </div>
      <div class="row bottom-holder">
      <div class="col">
        <ul class="social-networks">
        <li><a class="icon-twitter" href="https://twitter.com/plivo" target="_blank" rel="noreferrer"></a></li>
        <li><a class="icon-facebook" href="https://fb.com/plivo" target="_blank" rel="noreferrer"></a></li>
        <li><a class="icon-linkedin" href="https://www.linkedin.com/company/plivo-inc" target="_blank" rel="noreferrer"></a></li>
        <li><a class="icon-github" href="https://github.com/plivo" target="_blank" rel="noreferrer"></a></li>
        </ul>
        <span class="copy">Copyright © <span id="currentYear"></span> <span>Plivo Inc</span>.</span>
      </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    //Auto year update Copyright Strats Here
  
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
  
    //Auto year update Copyright End Here
  </script>
  